body {
	z-index: 0;
}

a {
  cursor: pointer;
}

.navbar {
  margin:0;
}

.dropdown-form {
  padding: 17px;
  width: 300px;
  z-index: 1000;
}

#landingTop {
	height: 100vh;
	background-color: #009C91; /*dark green*/
	color: #EFEEE5; /*cream*/
}

#spotifyFaTop {
	color: #EFEEE5;
}

#arrowsFa {
	color: #EFEEE5;
}

#formRow {
	margin-top: 150px;
}

#landingBottom {
	height: 100vh;
	background-color: #44CDC7; /*light green*/
	color: #EFEEE5; /*cream*/
}

#instructionsRow {
	padding-top: 100px;
}

.fa {
	color: #006A67; /*very dark green*/
}

.instructionsText {
	padding-top: 30px;
}

#additionalFeaturesTitle {
	margin-top: 50px;
}





.landingContainer, .leaderboardContainer {
	background-color: #DCF2EE;
	padding: 0 50px; 
	color: #00120C !important;
}

.jumbotron {
	background-color: transparent;
	text-align: center;
}





.custom-error {
	color: red;
}

.btn-primary, .btn-warning {
	background-color: #01A38F !important;
}



.additionalFeatures {
	margin: 15px;
	padding: 10px;
	height: 200px;
	width: 200px;
	background-color: #01A38F;
	border-radius: 10px;
	color: #DCF2EE !important;
}

.btn-bronze {
	background-color: rgba(122,67,12, 0.5);
}

.btn-silver {
	background-color: rgba(192,192,192,0.5);
}

.btn-gold {
	background-color: rgba(184,143,43,0.5);
}

.btn-bronze, .btn-silver, .btn-gold {
	color: white;
	width: 70px;
	height: 30px;
}

.btn-bronze.active, .btn-silver.active, .btn-gold.active {
	/*font-size: 16px;*/
	font-weight: bold;
	color: #262627;
}

.albumImage {
	width: 80px;
	height: 80px;
}

.albumName {
	padding-left: 20px;
}

.activeAlbum {
  background-color: #01A38F;
}

.trackName {
	font-size: 18px;
}

a, a:hover, a:active, a:visited {
	color: #00120D;
}

#lyrics {
	font-size: 18px;
	line-height: 30px;
}

#albumsCol {
	background-color: #DCF2EE;
	border: solid 3px #00120C;
	color: #00120D;
}

#songsCol {
	background-color: #DCF2EE;
	border: solid 3px #00120C;
	border-left: none;
	color: #00120D;
}

#lyricsCol {
	background-color: #DCF2EE;
	border: solid 3px #00120C;
	border-left: none;
	color: #00120D;
}

.songsDiv {
	overflow: hidden;
}

.cols {
	padding-bottom: 1000px;
  margin-bottom: -1000px;
}

.internal {
	margin: 10px;
}

#leaderboardTable {
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;	
	text-align: center;
}
