body {
	z-index: 0;
	background-color: #ECE8DD; /*near white*/
	font-family: 'Quicksand', sans-serif;
}

a {
  cursor: pointer;
}

.navbar {
  margin:0;
}

/* navbar */
.navbar-default {
  background-color: #44CDC7; /*light green*/
  border-color: #44CDC7;
  border-radius: 0px;
}
/* title */
.navbar-default .navbar-brand {
    color: #006A67; /*very dark green*/
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #006A67; /*very dark green*/
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #006A67; /*very dark green*/
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #EFEEE5; /*cream*/
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #EFEEE5; /*cream*/
    background-color: #44CDC7; /*light green*/
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #EFEEE5; /*cream*/
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #EFEEE5; /*cream*/
}

.dropdown-form {
  padding: 17px;
  width: 300px;
  z-index: 1000;
}

#landingTop {
	height: 100vh;
	background-color: #009C91; /*dark green*/
	color: #EFEEE5; /*cream*/
	font-family: 'Nunito', sans-serif;
}

.jumbotron {
	background-color: transparent;
	text-align: center;
}

#spotifyFaTop {
	color: #EFEEE5;
}

#arrowsFa {
	color: #EFEEE5;
}

#formRow {
	margin-top: 150px;
}

#searchArtistBtn {
	background-color: #006A67; /*very dark green*/
	color: #EFEEE5; /*cream*/
}

#searchArtistBtn:hover {
	background-color: #EFEEE5; /*cream*/
	color: #006A67; /*very dark green*/
}

#landingBottom {
	height: 100vh;
	background-color: #44CDC7; /*light green*/
	color: #EFEEE5; /*cream*/
	font-family: 'Nunito', sans-serif;
}

#instructionsRow {
	padding-top: 20px;
}

#instructionsRow > .faCol {
	padding: 0 !important;
	margin: 0 !important;
}

.fa {
	color: #006A67; /*very dark green*/
}

.instructionsText {
	padding-top: 30px;
}

.additionalFeaturesDiv {
	padding-top: 100px;
}

#featuresTitle {
	margin-bottom: 50px;
}

#signUpBtnDivBottom {
	margin-top: 40px;
}

#signUpBtnBottom, #modalBtn, #updateBtn, #signupBtn, #loginBtn, #signupBtnModal {
	background-color: #006A67; /*very dark green*/
	color: #EFEEE5; /*cream*/
}

#signUpBtnBottom:hover {
	background-color: #EFEEE5; /*cream*/
	color: #006A67; /*very dark green*/
}

.titles {
	font-family: 'Nunito', sans-serif;
}

#songsSection {
	color: #292827; /*dark grey text*/
}

.songsSteps {
	background-color: #009C91; /*dark green*/
	color: #EFEEE5; /*cream*/;
	height: 50px;
	width: 100%;
	text-align: center;
	padding: 15px;
	font-family: 'Nunito', sans-serif;
}

.albumImage {
	width: 80px;
	height: 80px;
}

.albumName {
	padding-left: 20px;
	color: #292827 !important; /*dark grey text*/
}

.activeAlbum {
  background-color: #44CDC7; /*light green*/
}

.trackName {
	font-size: 18px;
}

.trackNameAs {
	color: #292827 !important; /*dark grey text*/
}

.trackNameAs:hover, .trackNameAs:active {
	color: #44CDC7 !important; /*light green*/
}

#lyrics {
	font-size: 18px;
	line-height: 30px;
}

#playBtn {
	background-color: #006A67; /*very dark green*/
	color: #EFEEE5; /*cream*/
	width: 100%;
}

#playBtn:hover, #modalBtn:hover, #updateBtn:hover, #signupBtn:hover, #loginBtn:hover, #signupBtnModal:hover {
	background-color: #44CDC7; /*light green*/
	color: #EFEEE5; /*cream*/
}

.btn-level {
	margin: 10px;
}

.btn-bronze {
	background-color: rgba(122,67,12, 0.5);
}

.btn-silver {
	background-color: rgba(192,192,192,0.5);
}

.btn-gold {
	background-color: rgba(184,143,43,0.5);
}

.btn-bronze, .btn-silver, .btn-gold {
	color: white;
	width: 70px;
	height: 30px;
}

.btn-bronze.active, .btn-silver.active, .btn-gold.active {
	/*font-size: 16px;*/
	font-weight: bold;
	color: #262627;
}

#leaderboardSection {
	height: 100hv;
}

#leaderboardTable {
	width: 100%;
	font-size: 18px;
}

#topRow > td {
	background-color: #009C91; /*dark green*/
	padding: 10px;
	color: #EFEEE5; /*cream*/
	text-align: center;
}

.otherRows > td {
	background-color: #44CDC7; /*light green*/
	padding: 10px;
	color: #EFEEE5; /*cream*/
	text-align: center;
	border-bottom: solid 1px #EFEEE5;
}

#profileSection {
	font-size: 18px;
}

#profileSection > h1 {
	color: #292827; /*dark grey text*/
}

.nav-tabs > li > a {
	background-color: #009C91 !important; /*dark green*/
}

.nav-tabs > li > a, .nav-tabs > li.active > a {
	color: #EFEEE5 !important; /*cream*/
}

.nav-tabs > li.active > a {
	background-color: #44CDC7 !important; /*light green*/
}

.tab-pane {
	background-color: #44CDC7 !important; /*light green*/
	color: #EFEEE5; /*cream*/
	padding: 10px;
}

.custom-error {
	color: red;
}







.internal {
	margin: 10px;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;	
	text-align: center;
}
