<div class="landingContainer">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="text-center">Do you know the words?</h1>
			<hr>
			<form class="form-group">
				<!-- <label>Give me the name of an artist you like...</label> -->
				<input type="text" ng-model="artist" class="form-control" placeholder="Artist Name" required>
				<br>
				<input type="submit" ng-click="searchForm(artist)" class="btn btn-primary pull-right" value="Search">
			</form>
			<div class="text-center">{{ landingError }}</div>
		</div>
	</div> <!-- end of row -->
	<br><br><br>
	<div class="row text-center">
		<div class="col-md-3">
			<i class="fa fa-5x fa-spotify"></i>
			<h4>Sign in to Spotify</h4>
		</div>
		<div class="col-md-3">
			<i class="fa fa-5x fa-commenting"></i>
			<h4>Think of an artist you sing along to</h4>
		</div>
		<div class="col-md-3">
			<i class="fa fa-5x fa-question"></i>
			<h4>Choose a track and see if you know the words</h4>
		</div>
		<div class="col-md-3">
			<i class="fa fa-5x fa-music"></i>
			<h4>If you do, enjoy the song!</h4>
		</div>
	</div> <!-- end of row -->
	<br><br><br>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center" id="additionalFeaturesTitle">
			<h1>Sign up for these awesome additional features</h1>
		</div>
	</div>
	<div class="row">
		<div class="text-center additionalFeatures">
			<h4>Test yourself with the harder Silver and Gold levels! Do you REALLY know the words?</h4>
		</div>
	</div>
	<div class="row">
		<div class="text-center additionalFeatures">
			<h4>Keep track of which songs you know, and collect as many badges as you can</h4>
		</div>
		<div class="text-center additionalFeatures">
			<h4>Share your badges with friends on facebook, and see if you can collect more badges than them</h4>
		</div>
	</div>
	<div class="row">
		<div class="text-center additionalFeatures">
			<h4 class="additionalFeatures">Try and get on to our overall leaderboard</h4>
		</div>
	</div>
</div> <!-- end of container -->