<section id="leaderboardSection">
	<div class="row">
		<h1 class="text-center">These people know their words!</h1>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<table id="leaderboardTable">
				<tr id="topRow">
					<td>Ranking</td>
					<td>Username</td>
					<td>Points</td>
				</tr>
				<tr class="otherRows" ng-repeat="leader in leaders track by $index" >
					<td>{{ $index + 1 }}</td>
					<td>{{ leader.username }}</td>
					<td>{{ leader.points }}</td>
				</tr>
			</table>
		</div>
	</div>
</section>